---
---

@import "{{ site.theme }}";

h1.title {
  font-family: Arial, Arial, Helvetica;
  font-size : 16px;
}

.markdown-body h1 {
    text-align : center;
}
.markdown-body h2 {
    font-size: 20px;
    color: #000;
}

.tagline, footer {
  font-size: 12px;
}

body {
  background : #fff;
}

a {
  color : #696969;
  font-weight : bold;
}

a:hover {
  background-color : #696969;
  text-decoration : none;
}
