---
---

@import "{{ site.theme }}";

h1.title {
  font-family: Arial, Arial, Helvetica;
  font-size : 16px;
}

.tagline, footer {
  font-size: 12px;
}

body {
  background : #fff;
}

a {
  color : #696969;
  font-weight : bold;
}

a:hover {
  color : #808080;
  text-decoration : none;
}
