---
---

/* @import "{{ site.theme }}"; */

.github-pages-ignore {
	display: none;
}

body{
  font-family: monospace;
  font-size: 12pt;
  background: #aaa;
}

#main, nav a
{
  background: #ddd;
  margin:5px;
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 4px solid black;
  border-left: 1px solid black;
  border-right: 4px solid black;
  border: 0px solid black;
}

header, #main, footer {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 20px;
  color: black;
  /*background: gray;
  text-transform: uppercase;
  text-decoration: underline wavy;
  
    width:-moz-fit-content;

  display: inline-block;
  

  */
  border-bottom : 4px solid black;
  display: table;
}

header h1 {
  text-align: center;
}

header a{
  text-decoration: none;
  margin: 5px;;
  display: block;
  
}
header nav a:hover {
  background: white;
}
nav {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

a, a:visited{
  color: inherit;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}

footer{
  text-align: center;
}

img {
  display: block;
  margin:auto;
  background: white;
  border: 10px solid white;
  max-width: 500px;
  max-height: 500px;
  max-width: 90%;
}

pre.lines {
  display:none;
}
code {
}
pre, code {
  background: #444;
  color:white;
  border: 2px solid #444;
  font-size: 10pt;
}