<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ '/assets/js/script.js' | relative_url }}"></script>
  <!-- UNCOMMENT CETTE LIGNE POUR AFFICHER L'ALERTE MAINTENANCE -->
  <!-- <script type="text/javascript"> alert("SITE EN MAINTENANCE. On refait la peinture, pardon pour le derangement. (vous pouvez toujours visiter le site mais risquez de tomber sur des bugs d'affichage)");</script> -->
 
{% seo %}
  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

  <div class="wrapper">
    <div id="container">
      <header>
      <h1 class="title"><a href="http://turing-test.cienokill.fr/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <nav>
          <a href="http://turing-test.cienokill.fr/#sommaire">Sommaire</a>
          <a href="http://cienokill.fr/">Site de la Cie Nokill</a>
          <a href="http://turing-test.cienokill.fr/dossier/TURING-TEST.pdf">Dossier du spectacle</a>
          <a href="{{ site.github.repository_url }}">Github</a>
        </nav>
      </header>
      <div id="main" role="main">
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <a href="http://turing-test.cienokill.fr/#sommaire">Sommaire</a>

      <small><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
        <br />Ce travail est placé sous une <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.
        <br />Fabien Carbo-Gil, Bertrand Lenclos et Léon Lenclos. <a href="http://cienokill.fr">Cie Nokill</a> 2017 - 2019</p></small>
    </footer>
  </div>

  {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
